.selx-iframe {
  position: fixed;
  z-index: 10000;
}

.selx-close-btn {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 10001;
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: red 1px solid;
  padding: 2px;
  cursor: pointer;

  color: white;

  text-align: center;

  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.3s;

  &:hover {
    color: red;
    transform: scale(1.1);
  }
}
